@use "variables/colors";
@use "variables/fonts";

@use "components/header";
@use "components/main";
@use "components/footer";

body {
    background-color: colors.$background-color;
    color: colors.$font-color;
    font-family: fonts.$font-family;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 1.5em;
}